*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_links {
  display: flex;
  gap: 2.6rem;
}
